:root {
	--main-bg-color: #303030;
	--secondary-bg-color: #404040;
	--main-text-color: #bbb;
	--secondary-text-color: #ddd;
	--white: #fff;
	--orange: #d96700;
  }

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.price_listPrice__15t57,
.price_unitSize__20xsh,
.price-amount_root__4cx5I,
.title_root__2EGeG,
.navigation-footer_root__2q8f7 {
  color: var(--white);
}

.chevron-button_bonus__1CH39,
.chevron-button_bonusBox__1EOYe,
.chevron-button_gall__39QDX,
.chevron-button_infinite__1lQMN,
.chevron-button_tieredOffer__r-BMK,
.top-bar_root__2EKb0,
.f-nav-bar,
.f-nav-bar-container,
.collapsible-block-element_root__2MU-5,
.product-card-hero-price_root__1kqcn,
.search-header_root__v35xh,
.f-display-card,
.f-display-card__footer,
.chevron-button_bonus__11vZW,
.chevron-button_gall__B1i8O,
.chevron-button_infinite__6WYOV,
.chevron-button_tieredOffer__2a3Y1,
.navigation-footer_root__2q8f7,
.recipe-card-properties_root__1ob6n.recipe-card-properties_allerhande__vKfZz,
.f-modal-content,
.f-footer-doormat__wrapper,
.delete-button_flat__38VU0,
.quantity-input_root__1cfUK {
  background-color: var(--main-bg-color);
}

/* Gebruik/Bewaren/Contactgegevens on product pages */
h5[class*="product-info_collapsibleTitle"] {
  color: var(--main-text-color);
}

.price-amount_root__37xv2,
.line-clamp_root__1FX_J,
.title_lineclamp__1ssbk,
.taxonomy-card_titleLink__7TTrF,
.alphabet_link__1XlLp,
.shop-in-shop-button_cta__38gwt,
.f-menu-dropdown__list,
.product-search_suggestion__18IID,
.breadcrumbs_link__2Edfx,
.breadcrumbs_text__cX5Sw,
.taxonomy-child_title__13KUy,
.spotlight_heading__912Bm,
.sorting-select_select__2-aw2 select,
.title_root__3OLMP,
.spotlight_heading__1pWI6,
.title_root__salCe,
.f-display-card,
.navigation-footer_link__2EDjH,
.filter-group_filter__2kWhF,
.dropdown-option_label__3_4C1,
.category-selector_dropdownButton__1Gzwd {
    color: var(--main-text-color);
}

/* Bonus labels */
.smart-label_bonus__2OAhP span {
    color: var(--orange) !important;
}

.taxonomy-card_root__3e1VZ,
.shop-in-shop-button_root__1kGBO,
.autocomplete .react-autosuggest__container,
.f-menu-dropdown__mount-point::after,
.f-menu-dropdown__list,
.product-search_isOpen__110T5.autocomplete .react-autosuggest__suggestions-container,
.autocomplete .react-autosuggest__suggestions-list,
.input_field__QD14l,
.autosuggest-input_label__3JfLC,
.page-navigation_root__2Zjba,
.taxonomy-show-more_root__1I6xY,
.taxonomy-child_root__3MwV-,
.select_select__2jADY,
.card-row_item__naLGv,
.recipe-lane_root__1I5Tn,
.recipe-card-favorite-button_favoriteButton__3qRAK,
.dropdown_container__3x21d,
.f-divider-paragraph__text {
	background-color: var(--secondary-bg-color);
}

.price_listPrice__f18hk,
.price_unitSize__26KBz,
.input_field__QD14l,
.autosuggest-input_label__3JfLC,
.product-recommendations_price__kdc2g,
.product-card-hero-price_root__1kqcn .price-amount_root__vE9dJ,
.price-amount_root__vE9dJ,
.filter-group_titleText__2ErIs {
	color: var(--secondary-text-color);
}

img, .f-advertorial {
  filter: brightness(.75);
}

.legend-card_bonus__1iRP- {
  background-color: #222;
}

.base-lane-heading_root__14yNY, .legend-card_bonus__1iRP- {
  color: var(--orange);
}

.sub-nav_link__2ATH1, .f-nav-bar {
  color: #cacaca;
}

.nav-basket_badge__2Pz2f .badge-counter {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.f-footer-doormat__link {
  color: #686868;
}

.navigation-footer_noticeItem__1vAq_, .f-advertorial__text-zone {
  color: #777;
}

.global-notification_messageWrapper__3kNKe {
  background-color: #867654;
}

.global-notification_title__3r37K {
  color: #000;
}

.top-bar_bar__2mTXh, .search-header_sticky__1PuT0 {
  border-bottom-color: #252525;
}

.product-card-hero_contentSection__3xq6m {
  border-top-color: #252525;
}

.f-nav-bar-container::after {
  background-color: #505050;
}

.ui-icon_root__KvRnK,
.navigation__link--ho {
  fill: var(--main-text-color);
}

.price_portrait__1yoeR, .price_portrait__vRFj8, .price_portrait__2WpRE {
  background-color: hsla(0, 0%, 18.8%, 0.35);
}

.price_listPrice__P8_ko, .price_unitSize__rhVkS, .price-amount_root__1al5m {
  color: #eee;
}

.small-promo-blocks_customBgcolor-walnoot__13nRX {
  background-color: #97938d;
}

.small-promo-blocks_customBgcolor-ah__3HLEZ {
  background-color: #90a2a8;
}

.small-promo-blocks_customBgcolor-mokka__15zat {
  background-color: #a4a2a1;
}

.small-promo-blocks_customBgcolor-vanille__1TEFt {
  background-color: #979285;
}

.small-promo-blocks_customBgcolor-aardbei__1_50Y {
  background-color: #a49292;
}

.small-promo-blocks_customBgcolor-water__1hRm- {
  background-color: #8d9397;
}

.f-footer-doormat__social__item svg, .allerhande-icon {
  fill: var(--main-text-color);
}

#svg_ah-logo > path:nth-child(1),
#diepvries > path:nth-child(1) {
  fill: var(--main-bg-color);
}

.shield_tieredOffer__2OAMr .shield_title__205iE {
  border: 1px solid #007ba4;
  background-color: #007ba4;
}

.f-divider-paragraph::after {
  border-bottom-color: var(--secondary-bg-color);
}

.back-to-top_backToTop__1XRNj {
  background-color: var(--main-text-color);
}

.back-to-top_icon__2qLk8 {
  color: var(--main-bg-color);
  fill: var(--main-bg-color) !important;
}

.back-to-top_text__197oX {
  color: var(--main-bg-color);
}

.delete-button_flat__38VU0:focus .delete-button_icon__1Hfoz,
.delete-button_flat__38VU0:hover
.delete-button_icon__1Hfoz {
  fill: var(--main-bg-color) !important;
}
